.footer_container {
  background-color: var(--color-blue);
  padding: 5rem 2.5rem; 
  color: #FFFFFF;

  @media (min-width:1440px) {
    padding: 7.5rem;
  }

  .social_icons {
      display: flex;
      gap: 1.25rem; 
      margin-top: 1.25rem; 

      svg {
          font-size: 1.5rem; 
          cursor: pointer;
          transition: color 0.3s;

          &:hover {
              color: var(--color-peach);
          }
      }
  }

  h3 {
      font-size: 1.1875rem;
      font-weight: 700;
  }
  h5 {
      font-size: 2.0625rem; 
      font-weight: 700;
      margin-bottom: 1.875rem; 
  }

  .footer_list {
      list-style: none;
      padding: 0;
      margin-top: 0.9375rem; 

      li {
          margin-bottom: 1.25rem; 
          font-size: 1rem; 
          font-weight: 400;
      }
  }
}
